mod/.gradle
build/
!../gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
CHANGELOG_MOD_RU.md

### Minecraft ###
run
CHANGELOG_MOD_RU.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/mod/versions/1.21.1-fabric/build/
/mod/versions/1.21.1-fabric/.gradle/
/mod/versions/1.21.1-neoforge/.gradle/
/mod/versions/1.21.1-neoforge/build/
/mod/versions/1.21.4-fabric/.gradle
/mod/versions/1.21.4-fabric/build/
/mod/versions/1.21.4-neoforge/.gradle
/mod/versions/1.21.4-neoforge/build/
/mod/versions/1.21.6-fabric/build
/mod/versions/1.21.6-fabric/.gradle
/mod/versions/1.21.8-neoforge/.gradle
/mod/versions/1.21.8-neoforge/build

